/* For _Layout.cshtml */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 100%;
}


.MainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    background-image: linear-gradient(white, gray);
    grid-template-areas:
        "NavBar MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody"
        "NavBar MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody MainBody";
}

.NavBar {
    grid-area: NavBar;
    padding-right: 10%;
}

.MainBody {
    grid-area: MainBody;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.NavBarButton {
    background-color: #125721;
    border-radius: 15px;
    color: white;
    padding: 20px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.NavBarButton:hover{
    background-color: gray;
}
