/* For _Layout.cshtml */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 100%;
}

.Gradient {
    background-image: linear-gradient(white, gray);
}


.NavBar {
    grid-area: NavBar;
    padding-right: 10%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.NavBarButton {
    background-color: #125721;
    border-radius: 15px;
    color: white;
    padding: 20px 12px;
    text-align: center;
    display: inline-block;
    font-size: 18px;

    transition: all 0.5s;
    cursor: pointer;
}

.NavBarButton:hover{
    background-color: gray;
}


.NavBarButtonn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.NavBarButton span:after {
  content: '\00bb';
  position: absolute;
  transition: 0.5s;
}

.NavBarButtonn:hover span {
  padding-right: 25px;
}

.NavBarButton:hover span:after {
  opacity: 1;
  right: 0;
}

