@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-md-6">
            <!-- <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Home</a> -->
            <p>Dominion Provisioning is an inventory and maintenance management software designed for companies to manage their own inventory database with functionality for maintenance management and status tracking.</p>
            <p>Contact Email: evinwatson@outlook.com</p>
            <p>Follow our progress on <a href="https://github.com/EvinRWatson/DominionProvisioning">GitHub!</a>.</p>
        </div>
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/EvinRWatson/DominionProvisioning/main/Docs/Logo.png" alt="Logo" align="left">
        </div>
    </div>