@{
    ViewData["Title"] = "Home Page";
}
    <img src="https://raw.githubusercontent.com/EvinRWatson/DominionProvisioning/main/Docs/Logo.png" align="left">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Home</a>
    <p>Follow our progress on <a href="https://github.com/EvinRWatson/DominionProvisioning">GitHub!</a>.</p>
