@{
    ViewData["Title"] = "Home Page";
}
    <div class="row" style="margin: 0; height: 100%; overflow: hidden;">
        <div class="col-md-9">
            <h1>Notifications:</h1>
            <p style="color: red">Not Implemented</p>
        </div>
        <div class="col-md-3">
            <div class="row">
                <img src="https://raw.githubusercontent.com/EvinRWatson/DominionProvisioning/main/Docs/Logo.png" width="350" height="350" alt="Logo" style="margin: auto; display: block;">
            </div>
            <div class="row">
                <h5>Dominion Provisioning is an inventory and maintenance management software designed for companies to manage their own inventory database with functionality for maintenance management and status tracking.</h5>
                <h5>Follow our progress on <a href="https://github.com/EvinRWatson/DominionProvisioning" class="btn btn-info">GitHub!</a></h5>
            </div>
        </div>
    </div>