@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Dominion</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/LayoutStyleSheet.css" />
</head>

<body style="background-image: linear-gradient(white, gray); margin: 0; height: 100%; overflow: hidden;">
    <div class="row">
        <div class="col-md-4">
            <img src="https://raw.githubusercontent.com/EvinRWatson/DominionProvisioning/main/Docs/Logo.png" width="400" height="400" alt="Logo" style="margin: 30% 10%; display: block;">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1 style="margin: 40%">Login Form</h1>
        </div>
    </div>
</body>