@model Dominion.Models.Requests

@{
    ViewData["Title"] = "Create";
}

<h1>Create Request</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgID" class="control-label"></label>
                <input asp-for="OrgID" class="form-control" />
                <span asp-validation-for="OrgID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockID" class="control-label"></label>
                <input asp-for="StockID" class="form-control" />
                <span asp-validation-for="StockID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqDesc" class="control-label"></label>
                <input asp-for="ReqDesc" class="form-control" />
                <span asp-validation-for="ReqDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqItems" class="control-label"></label>
                <input asp-for="ReqItems" class="form-control" />
                <span asp-validation-for="ReqItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqStatus" class="control-label"></label>
                <input asp-for="ReqStatus" class="form-control" />
                <span asp-validation-for="ReqStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
