<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Dominion</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/LayoutStyleSheet.css" />
    </head>

    <body class="MainContainer">

        <nav class=" NavBar DominionNavBar nav flex-column">
            <a class="DominionNavBar layout-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Home</a>
            <a class="DominionNavBar layout-link text-dark" asp-area="" asp-controller="Requests" asp-action="Index"> Requests</a>
            <a class="DominionNavBar layout-link text-dark" asp-area="" asp-controller="Inventories" asp-action="Index"> Inventories</a>
            <a class="DominionNavBar layout-link text-dark" asp-area="" asp-controller="StockLists" asp-action="Index"> Stock Lists</a>
            <a class="DominionNavBar layout-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"> Users</a>
        </nav>

        <main role="main" class="MainBody pb-3">
            @RenderBody()
        </main>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>
